@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: #ffffff;
  --background-start-rgb:#c3c3c3;
  --background-end-rgb: #c3c3c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #c3c3c3;
    --background-start-rgb: #ffffff;
    --background-end-rgb: #ffffff;
  }
} */

body {
  color: #c3c3c3;
  background: #f4f4f5
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
